body {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4c515d3d-4bb6-421b-bac3-10e69457dc9e/d2x5zl2-0b265566-0f05-4dfe-8462-f3066ad036eb.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRjNTE1ZDNkLTRiYjYtNDIxYi1iYWMzLTEwZTY5NDU3ZGM5ZVwvZDJ4NXpsMi0wYjI2NTU2Ni0wZjA1LTRkZmUtODQ2Mi1mMzA2NmFkMDM2ZWIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.p5hBrb06kBSunFBCcf4im9cN0W53RBCcF2GCrb-_soo')
}

#head {
    text-align: center;
    color: cornflowerblue;
}
